<!--<style>
.ace-editor {
    width: 100%;
    height: 200px;
    resize: vertical;
}
textarea {
    width: 100%;
}
</style>
<script src="{{site.baseurl}}/assets/js/ace_src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/ace_src/theme-monokai.js" type="text/javascript" charset="utf-8"
></script>
<script src="{{site.baseurl}}/assets/js/ace_src/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/jscpp_src/JSCPP.es5.min.js"></script>
<script>
    function ace_init(editor_id, editable) {
        var editor = ace.edit(editor_id);
        editor.setTheme("ace/theme/monokai");
        editor.session.setTabSize(4);
        editor.setShowPrintMargin(false);
        editor.setReadOnly(!editable);
        editor.container.style.lineHeight = "29.7px";
        editor.container.style.fontSize = "16.5px";
        editor.renderer.updateFontSize()
        var CMode = ace.require("ace/mode/c_cpp").Mode;
        editor.session.setMode(new CMode());
    }
    
    function jscpp_execute(in_id, out_id, editor_id) {
        var editor = ace.edit(editor_id);
        var code = editor.getValue();
        var input = document.getElementById(in_id).value;
        var output = "";
        var config = {
            stdio: {
                write: function(s) {
                    output += s;
                }
            }
        };
        var exitCode = 0;
        try {
            exitCode = JSCPP.run(code, input, config);
        } catch (error) {
            output += "Error occurred: " + error + ".";
        }
        if (exitCode != 0) {
            output += "\nprogram exited with code " + exitCode + ".";
        }
        document.getElementById(out_id).value = output;
    }
</script>-->