<script>
window.addEventListener("load",function(){
    quizzes['quiz-18'] = new Quiz('quiz-18', [
        ['a', 'b']
    ]);
},false);
</script>
<!-- Quiz 18 -->
<div id="quiz-result-18" class="card quiz-result">
    You Scored <span id="quiz-percent-18"></span>% - <span id="quiz-score-18"></span>/<span id="quiz-max-score-18"></span><br/>
</div>
<b id="quiz18">Quiz18</b>
<div id="quiz-18" class="card quizlib-section">
    <!-- Question 1 -->
    <div class="quizlib-question">
        <div class="quizlib-question-title">
            <div markdown="1">
```c
#include <stdio.h>

int main(void) {
    putchar('\a');
    return 0;
}
```
</div>1. 上面程式碼的編譯／執行結果是？
        </div>
        <div class="quizlib-question-answers">
            <ul>
                <li><label><input type="checkbox" name="q1" value="a">沒有輸出任何看得到的字元</label></li>
                <li><label><input type="checkbox" name="q1" value="b">34 12</label></li>
            </ul>
        </div>
    </div>
    <!-- Answer Button. Here, we pass the ID of the quiz element (the parent of this button) to the showResults function.  -->
</div>
<button type="button" onclick="showResults(18);">Check Answers</button>