<script>
window.addEventListener("load",function(){
    quizzes['quiz-6'] = new Quiz('quiz-6', [
        'b'
    ]);
},false);
</script>
<!-- Quiz 6 -->
<div id="quiz-result-6" class="card quiz-result">
    You Scored <span id="quiz-percent-6"></span>% - <span id="quiz-score-6"></span>/<span id="quiz-max-score-6"></span><br/>
</div>
<b id="quiz6">Quiz6</b>
<div id="quiz-6" class="card quizlib-section">
    <!-- Question 1 -->
    <div class="quizlib-question">
        <div class="quizlib-question-title">1. 十進位的 0.87 轉成二進位是</div>
        <div class="quizlib-question-answers">
            <ul>
                <li><label><input type="radio" name="q1" value="a">0.01010111</label></li>
                <li><label><input type="radio" name="q1" value="b">0.11011110....</label></li>
            </ul>
        </div>
    </div>
    <!-- Answer Button. Here, we pass the ID of the quiz element (the parent of this button) to the showResults function.  -->
</div>
<button type="button" onclick="showResults(6);">Check Answers</button>