<script>
window.addEventListener("load",function(){
    quizzes['quiz-4'] = new Quiz('quiz-4', [
        '2.8125'
    ]);
},false);
</script>
<!-- Quiz 4 -->
<div id="quiz-result-4" class="card quiz-result">
    You Scored <span id="quiz-percent-4"></span>% - <span id="quiz-score-4"></span>/<span id="quiz-max-score-4"></span><br/>
</div>
<b id="quiz4">Quiz4</b>
<div id="quiz-4" class="card quizlib-section">
    <!-- Question 1 -->
    <div class="quizlib-question">
        <div class="quizlib-question-title">1. 二進位的 10.1101 轉成十進位是</div>
        <div class="quizlib-question-answers">
            <input type="text" name="q1">
        </div>
    </div>
    <!-- Answer Button. Here, we pass the ID of the quiz element (the parent of this button) to the showResults function.  -->
</div>
<button type="button" onclick="showResults(4);">Check Answers</button>