<script>
window.addEventListener("load",function(){
    quizzes['quiz-1'] = new Quiz('quiz-1', [
        'b'
    ]);
},false);
</script>
<!-- Quiz 1 -->
<div id="quiz-result-1" class="card quiz-result">
    You Scored <span id="quiz-percent-1"></span>% - <span id="quiz-score-1"></span>/<span id="quiz-max-score-1"></span><br/>
</div>
<h2>Quiz</h2>
<div id="quiz-1">
    <!-- Question 1 -->
    <div class="card quizlib-question">
        <div class="quizlib-question-title">
            <div markdown="1">
```c
#include <stdio.h>
int main() {
    printf("Hello World!");
    return 0;
}
```
</div>1. What is the output of the code above?
        </div>
        <div class="quizlib-question-answers">
            <ul>
                <li><label><input type="radio" name="q1" value="a">Goodbye Cruel World!</label></li>
                <li><label><input type="radio" name="q1" value="b">Hello World!</label></li>
            </ul>
        </div>
    </div>
    <!-- Answer Button. Here, we pass the ID of the quiz element (the parent of this button) to the showResults function.  -->
    <button type="button" onclick="showResults(1);">Check Answers</button>
</div>