<script>
window.onload = function() {
    // Create quiz instances for each quiz and add them to the quizzes map.
    // The key is the ID of the quiz element, same as what we pass to the Quiz object as the first argument.
    quizzes['quiz-1'] = new Quiz('quiz-1', [
        '42',
        'b',
        ['b', 'c', 'd']
    ]);

    quizzes['quiz-2'] = new Quiz('quiz-2', [
        'b',
        'squid'
    ]);

    quizzes['quiz-3'] = new Quiz('quiz-3', [
        '4',
        'b'
    ])
};
</script>

<!-- Quiz 1 -->
<div id="quiz-1">
    <h2>Quiz 1</h2>
    <!-- Question 1 -->
    <div class="card quizlib-question">
        <div class="quizlib-question-title">
            <div markdown="1">
```c
#include <stdio.h>
int main() {
    printf("Hello World!");
    return 0;
}
```
</div>1. What is the output of the code above?
        </div>
        <div class="quizlib-question-answers">
            <!--<textarea name="q1"></textarea>-->
            <input type="text" name="q1">
        </div>
    </div>
    <!-- Question 2 -->
    <div class="card quizlib-question">
        <div class="quizlib-question-title">2. Your enemy's father...</div>
        <div class="quizlib-question-answers">
            <ul>
                <li><label><input type="radio" name="q2" value="a"> is a hamster</label></li>
                <li><label><input type="radio" name="q2" value="b"> smells of elderberries</label></li>
            </ul>
        </div>
    </div>
    <!-- Question 3 -->
    <div class="card quizlib-question">
        <div class="quizlib-question-title">3. Which factors will contribute to the end of humanity as we know it?</div>
        <div class="quizlib-question-answers">
            <ul>
                <li><label><input type="checkbox" name="q3" value="a"> Global warming</label></li>
                <li><label><input type="checkbox" name="q3" value="b"> The release of Linux 4.1.15</label></li>
                <li><label><input type="checkbox" name="q3" value="c"> Cats</label></li>
                <li><label><input type="checkbox" name="q3" value="d"> Advancements in artificial intelligence</label></li>
            </ul>
        </div>
    </div>
    <!-- Answer Button. Here, we pass the ID of the quiz element (the parent of this button) to the showResults function.  -->
    <button type="button" onclick="showResults(this.parentNode.id);">Check Answers</button>
</div>